@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}


@mixin grid($val){
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax($val,1fr));
    gap:1.5rem;
}




html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
  }

body{
    background-color: black;
}

section{
    padding: 5rem 9%;
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;

    /* content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 0.1rem;
    width: 100%;
    background: white;
    z-index: -1; */
}
span{
    font-size: 3rem;
    color: red;
    /* background: black; */
    padding: 0.5rem 1.5rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    color: white;
    cursor: pointer;
    font-size: 1.7rem;
}

.header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 1000;
    background-color: black;
}

.logo{
    font-weight: bolder;
    color: white;
    font-size: 3rem;
}

span{
    color: red;
}


.navbar a{
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    color: white;
}


.NAV:hover{
    background: red;
}

#menu-btn{
    font-size: 3rem;
    color: white;
    cursor: pointer;
    display: none;
}

.home{
    padding: 0;
    margin-top: 6.5rem;
}

.slide{
    min-height: 70vh;
    background-size: cover !important;
    background-position: center !important;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
}
.content{
    width: 60rem;
}
span{
 font-size: 2rem;
 color: red;
 display: block;
}
h3{
    font-size: 5rem;
    color: white;
    padding: 1rem 0;
}

                    /* <!-- ABOUT SECTION START --> */

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
}

.image{
    flex: 1 1 42rem;
    position: relative;

    
}
/* ::before,
    ::after{
        content: '';
        position:absolute;
        z-index: -1;
        background:red;
        height:15rem;
        width:15rem;
    } */

img{
    width: 100%;
    padding: 2rem;
}

.content{
    flex: 1 1 42;
}


.title{
    font-size: 4rem;
    color: white;
    margin-top: 0.5rem;
}

p{
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
    line-height: 2;
}

.box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.box{
    flex: 1 1 20em;
}

h3{
    font-size: 2rem;
    color: white;
    
}

                         /* PRICING SECTION */

.information{
    width: 30%;
}
.plan_basic{
    margin-left: 70.5px;
    padding-left: 80px;
width: 30%;
}
.plan{
    width: 30%;
}


.pricing{ 
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    @include grid(32rem)
}


.span1{
    font-size: 2rem;
    color: red;
}
.headingh3{
    font-size: 4rem;
    padding-top: 0.5rem;
    color: white;
}
.main_p{
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: white;
}
i{
    padding-right: 1rem;
    color: red;
}
.plan{
    text-align: center;
    padding: 2rem;
}
.basic_plan_heading{
    font-size: 2.5rem;
    margin: 1rem 0;
    color: white;
}
.price{
    font-size: 5rem;
    font-weight: bolder;
    color: red;
}

.span_price{
    color: white;
    font-size: 2rem;
} 

.main_p{
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: white;
}
.main_p>i{
    padding-right: 1rem;
    color: red;
}
.list2{
    padding: 1rem 0;

}
.list2>p{
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: white;
}
.list2>p>i{
    padding-right: 1rem;
    color: red;
}



                         /* <!-- BANNER SECTION STARTS --> */


.banner{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0.7)),url(./images/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}
.span_banner{
    font-size: 2rem;
    color: red;
}
.banner_heading{
    padding-top: 1rem;
    color: white;
    text-transform: uppercase;
    font-size: 3.5rem;
}
.banner_p{
    margin: 1rem auto;
    max-width: 60rem;
    font-size: 1.5rem;
    color: white;
    line-height: 2;
}


                          /* TRAINERS */

.trainers .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}

.trainers .box-container .box {
  height: 40rem;
  overflow: hidden;
  position: relative;
}

.trainers .box-container .box:hover .content {
  /* -webkit-transform: translateY(0); */
          /* transform: translateY(0); */
}

.trainers .box-container .box img {
  height: 100%;
  width: 100%;
  /* -o-object-fit: cover; */
     /* object-fit: cover; */
}

.trainers .box-container .box .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  padding: 2rem;
  /* -webkit-transform: translateY(6.5rem); */
          /* transform: translateY(6.5rem); */
}

.trainers .box-container .box .content span {
  font-size: 1.5rem;
  color: #f00;
}

.trainers .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
  padding-top: .5rem;
}

.trainers .box-container .box .content .share {
  padding-top: 2rem;
  margin-top: 1.5rem;
  border-top: 0.1rem solid #aaa;
}

.trainers .box-container .box .content .share a {
  font-size: 2rem;
  color: #fff;
  margin-right: 1.5rem;
}

.trainers .box-container .box .content .share a:hover {
  color: #f00;
}











                /* <!-- Contact section starts  --> */

/* .box-container{
    @include grid(25rem);
}
.box{

} */



    /* .box-container{
      @include grid(25rem);
    }
  
      .box{
  
        h3{
          font-size: 2.2rem;
          color:$white;
          padding:1rem 0;
        }
  
        .links{
          font-size: 1.5rem;
          display: block;
          color:$light-white;
          padding:1rem 0;
  
          &:hover{
            color:red;
          }
        }
  
        p{
          font-size: 1.5rem;
          color:$light-white;
          padding:1rem 0;
  
          i{
            padding-right: .5rem;
            color:$red;
          }
        }
  
        .share{
          padding:1rem 0;
  
          a{
            height: 4.5rem;
            width: 4.5rem;
            line-height: 4.5rem;
            font-size: 1.7rem;
            color:$white;
            background: $light-bg;
            border-radius: 50%;
            margin-right: .5rem;
            text-align:center;
  
            &:hover{
              background: $red;
            }
          }
        }
  
        form{
  
          .email{
            margin-bottom: 1rem;
            width: 100%;
            background: $light-bg;
            padding:1.2rem;
            font-size: 1.5rem;
            color:$white;
            text-transform: none;
          }
        }
      }
    }
  }
  
  .credit{
    font-size: 2rem;
    text-align:center;
    padding:2rem;
    color:$white;
    background: $light-bg;
    line-height: 1.5;
  
    span{
      color:$red;
    }
  }
  
 */
 .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #fff;
    padding: 1rem 0;
  }
  
  .footer .box-container .box .links {
    font-size: 1.5rem;
    display: block;
    color: #aaa;
    padding: 1rem 0;
  }
  
  .footer .box-container .box .links:hover {
    color: #f00;
  }
  
  .footer .box-container .box p {
    font-size: 1.5rem;
    color: #aaa;
    padding: 1rem 0;
  }
  
  .footer .box-container .box p i {
    padding-right: .5rem;
    color: #f00;
  }
  
  .footer .box-container .box .share {
    padding: 1rem 0;
  }
  
  .footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: #fff;
    background: #111;
    border-radius: 50%;
    margin-right: .5rem;
    text-align: center;
  }
  
  .footer .box-container .box .share a:hover {
    background: #f00;
  }
  
  .footer .box-container .box form .email {
    margin-bottom: 1rem;
    width: 100%;
    background: #111;
    padding: 1.2rem;
    font-size: 1.5rem;
    color: #fff;
    text-transform: none;
  }
  
  .credit {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    color: #fff;
    background: #111;
    line-height: 1.5;
  }
  
  .credit span {
    color: #f00;
  }


                     /* MEDIA QERIES */

@media(max-width:991px){

    html{
        font-size: 55%;
    }
.header{
    padding: 0 2rem;
}

section{
    padding: 3rem 2rem;
}
.home .slide{
    padding:2rem 5%;
}
.content{
    width: 50rem;
}
h3{
    font-size: 4rem;
}
}

@media(max-width:768px){

    #menu-btn{
        /* font-size: 3rem;
        color: white;
        cursor: pointer; */
        display: inline-block;
    }
.header{
    padding:2rem;
}
.navbar{
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: black;
}
a{
     display: block;   
     font-size: 2rem;
}
.about{
    gap: 3rem;
}
.image{
    margin-top: 5rem;

}
.content .title{
    font-size: 3rem;
}
}

@media(max-width:450px){
    html{
        font-size: 55%;
    }
}





